body {
    background: #111;
    color: #fff;
}

.app {
    text-align: center;
    padding: 5%;
}

.app-title {
    font-size: 26px;
    padding: 10px;
}

.profile {
    display: flex;
    justify-content: center;
}

.profile-info {
    display: flex;
    margin-left: 10px;
    text-align: left;
    flex-direction: column;
    justify-content: center;
}

.profile-img {
    width: 200px;
    height: 200px;
    border: 3px solid #fff;
    border-radius: 100px;
    object-fit: cover;
}

.profile-name {
    font-size: 26px;
}

.profile-followers {
    font-size: 18px;
}

.profile-genres {
    font-size: 16px;
}

.track {
    position: relative;
    display: inline-block;
    width: 220px;
    height: 220px;
    margin: 10px;
    text-align: left;
    cursor: pointer;
}

.track-img {
    position: absolute;
    width: 220px;
    height: 220px;
    border: 3px solid #fff;
    border-radius: 3px;
    object-fit: cover;
}

.track-text {
    position: absolute;
    background-color: #000;
    color: #fff;
    opacity: .75;
    width: 214px;
    margin-left: 3px;
    text-align: center;
    padding: 5px;
    bottom: 0;
}

.track-play {
    position: absolute;
    display: flex;
    align-items: center;
    width: 220px;
    height: 220px;
}

.track-play-inner {
    position: absolute;
    text-align: center;
    font-size: 25px;
    background-color: #000;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    color: #fff;
    padding-top: 13px;
    margin-left: 80px;
    margin-right: 80px;
    opacity: 0;
}

.track-play-inner:hover {
    opacity: .85;
    animation-name: fade-in;
    animation-duration: 0.35s
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.85;
    }
}
