body {
    background: -webkit-linear-gradient(left, #0f0c29, #302b63, #24243e);
    background: -o-linear-gradient(left, #0f0c29, #302b63, #24243e);
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    color: #fff;
}

.app {
    text-align: center;
    padding: 5%;
}

.app-title {
    display: inline-block;
    font-family: 'Bungee Inline', cursive;
    font-size: 60px;
    margin-bottom: 40px;
}

.app-title span {
    color: yellow;
    filter: drop-shadow(-1px -1px 5px gold);
}

.search-input {
    font-family: 'Signika', sans-serif;
    font-size: 20px;
}

.main-container {
    display: grid;
    grid-template-columns: 500px 1fr;
    grid-template-rows: 620px auto;
    grid-column-gap: 30px;
    margin-top: 60px;
    perspective: 100px;
    perspective-origin: left;
}

.profile {
    display: flex;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-items: center;
    flex-direction: column;
    background-color: #111;
    border: 2px silver solid;
    border-radius: 3px;
    transform-style: preserve-3d;
    transition: .15s linear;
    cursor: pointer;
    opacity: .88;
}

.profile:hover {
    transform: rotateY(2deg);
    filter: drop-shadow(-4px -1px 9px #1cb5e0);
    opacity: 1;
}

.profile-info {
    display: flex;
    margin-left: 10px;
    flex-direction: column;
}

.profile-img {
    width: 360px;
    height: 360px;
    object-fit: cover;
    margin-top: 45px;
    margin-bottom: 15px;
    border: 2px #333 solid;
}

.profile-name {
    font-family: 'Bungee Inline', cursive;
    font-size: 30px;
}

.profile-followers {
    font-family: 'Signika', sans-serif;
    font-size: 15px;
}

.profile-followers span {
    color: pink;
    margin-bottom: 15px;
    margin-top: 5px;
}

.profile-genres {
    width: 360px;
    font-family: 'Signika', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    word-spacing: 1px;
    margin-bottom: 35px;
    border-right: 2px #333 solid;
    border-left: 2px #333 solid;
    padding: 0 15px;
    margin-left: -10px;
}

.gallery {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.triangle {
    position: absolute;
    z-index: -5;
    border-style: solid;
    border-width: 692.8px 400px 0 400px;
    border-color: #24243e transparent transparent transparent;
    filter: drop-shadow(-1px -1px 5px #303b63);
}

.track {
    position: relative;
    width: 220px;
    height: 220px;
    font-family: 'Signika', sans-serif;
    font-size: 14px;
    margin: 0 15px 15px;
    text-align: left;
    cursor: pointer;
    transition: .075s linear;
}

.track:hover {
        transform: translateY(-3px);
        filter: drop-shadow(-2px -1px 5px #1cb5e0);
}

.track-img {
    position: absolute;
    width: 220px;
    height: 220px;
    border: 2px solid #fff;
    border-radius: 3px;
    object-fit: cover;
}

.track-text {
    position: absolute;
    background-color: #000;
    color: #fff;
    opacity: .75;
    width: 214px;
    margin-left: 3px;
    text-align: center;
    padding: 5px;
    bottom: 0;
}

.track-play {
    position: absolute;
    display: flex;
    align-items: center;
    width: 220px;
    height: 220px;
}

.track-play-inner {
    position: absolute;
    text-align: center;
    font-size: 25px;
    background-color: #000;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    color: #fff;
    padding-top: 13px;
    margin-left: 80px;
    margin-right: 80px;
    opacity: 0;
}

.track:hover .track-play-inner{
    opacity: .85;
    animation-name: fade-in;
    animation-duration: 0.35s
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.85;
    }
}

.my-mail {
    grid-column: 1 / 2;
    grid-row: 2 / -1;
    display: flex;
    align-items: flex-end;
    font-family: 'Signika', sans-serif;
    font-size: 13px;
    color: silver;
}

.my-mail a {
    color: #1cb5e0;
}
